* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
	background: #f6f6f6;
	color: black;
	font-size: 15px;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	margin: auto;
}

/* NAV */

.nav-container {
	background-color: #8d000c;
	width: 100%;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	z-index: 1000;
}

.main-nav {
	display: flex;
	float: center;
	align-items: center;
	height: 8vh;
	justify-content: space-between;
	color: #ff9100;
}

.logo {
	display: flex;
	float: center;
	align-items: center;
}
.logo h1 {
	padding: 0 10px;
}

.giant-font {
	font-size: 60px;
	font-weight: 50;
}

.medium-font {
	font-size: 30px;
	font-weight: 50;
}

.simple-margin {
	margin: 0 50px;
}

.showcase {
	width: 100%;
	margin-top: 8vh;
}

.carousel-item img {
	width: 100%;
	height: 92vh;
	object-fit: cover;
	object-position: 50% 50%;
}

.btn {
	background: #ff9100;
	color: #8d000c;
	font-size: 4vh;
	width: 10vw;
	height: 5vh;
	border: none;
	border-radius: 25px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}
.body-content {
	width: 80%;
	margin: auto auto;
	display: grid;
	padding: 1em;
	grid-template-columns: 7fr 3fr;
}

.ads {
	display: grid;
	grid-template-columns: 1fr;
}
.single-ad {
	background: #ffffff;
	border-radius: 25px;
	padding: 20px 50px;
	margin: 1em;
	height: 25vh;
}
.introduction {
	margin: 1em;
	font-weight: 10;
	background: #ffffff;
	float: center;
	padding: 1em;
	display: flex;
	color: #707070;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 25px;
	/*box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);*/
}
.introduction h1 {
	margin: 20px 30px;
}
.introduction h3 {
	margin: 20px 30px;
}
.dot {
	height: 25px;
	width: 25px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.progresso {
	width: 80%;
	margin: 1em auto;
	display: grid;
	grid-template-columns: 6fr 1fr;
	gap: 1em;
}

.caixa {
	width: 100%;
	height: 10vh;
	border-radius: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 10fr 1fr;
	align-items: center;
	gap: 1em;
	padding: 0 2em;
}
.caixa-valor {
	width: 100%;
	height: 10vh;
	border-radius: 25px;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
}

.caixa-dia {
	background: #ff9100;
	color: #8d000c;
}

.caixa-total {
	background: #8d000c;
	color: #ff9100;
}

.linha-vazia {
	background: #000000;
}

.linha {
	margin: 0;
	height: 4vh;
	border-radius: 25px;
}

.grid-item {
	min-width: 0;
	min-height: 0;
	align-self: center;
	justify-self: center;
}

.wrap {
	color: #8d000c;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

@media (max-width: 700px) {
	.body-content {
		width: 100%;
		grid-template-columns: 1fr;
	}
	.giant-font {
		font-size: 30px;
		font-weight: 50;
	}

	.medium-font {
		font-size: 15px;
		font-weight: 50;
	}

	.simple-margin {
		margin: 0 25px;
	}
	.btn {
		background: #ff9100;
		color: #8d000c;
		width: 30vw;
		height: 5vh;
		border: none;
		border-radius: 25px;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
	}

	h3 {
		font-size: 15px;
	}
	h4 {
		font-size: 20px;
	}

	.introduction h1 {
		margin: 10px 10px;
	}
	.introduction h3 {
		margin: 10px 10px;
	}

	.progresso {
		width: 90%;
		margin: 1em auto;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1em;
	}

	.caixa {
		width: 100%;
		height: 8vh;
		border-radius: 25px;
		display: grid;
		grid-template-columns: 1fr 1fr 10fr 1fr;
		align-items: center;
		font-size: 10px;
	}
	.caixa-valor {
		width: 100%;
		height: 5vh;
		border-radius: 15px;
		display: grid;
		grid-template-rows: 1fr;
		align-items: center;
	}
	.linha-vazia {
		background: #000000;
	}

	.linha {
		margin: 0;
		height: 3vh;
		border-radius: 25px;
	}
}
