* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
	background: #f6f6f6;
	color: black;
	font-size: 15px;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	margin: auto;
}

/* NAV */

.nav-container {
	background-color: #8d000c;
	width: 100%;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	z-index: 1000;
}

.main-nav {
	display: flex;
	float: center;
	align-items: center;
	height: 8vh;
	justify-content: space-between;
	color: #ff9100;
}

.logo {
	display: flex;
	float: center;
	align-items: center;
}
.logo h1 {
	padding: 0 10px;
}

.giant-font {
	font-size: 60px;
	font-weight: 50;
}

.medium-font {
	font-size: 30px;
	font-weight: 50;
}

.simple-margin {
	margin: 0 50px;
}

.showcase {
	width: 100%;
	margin-top: 8vh;
}

.carousel-item img {
	width: 100%;
	height: 92vh;
	object-fit: cover;
	object-position: 50% 50%;
}

.btn {
	background: #ff9100;
	color: #8d000c;
	font-size: 4vh;
	width: 10vw;
	height: 5vh;
	border: none;
	border-radius: 25px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}
.body-content {
	width: 80%;
	margin: auto auto;
	display: grid;
	padding: 1em;
	grid-template-columns: 7fr 3fr;
}

.ads {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 10fr;
	align-content: flex-start;
}
.single-ad {
	background: #ffffff;
	border-radius: 25px;
	padding: 20px 50px;
	margin: 1em;
}

.single-ad img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%;
}

.acreditar-logo {
	background: #f6f6f6;
	border-radius: 25px;
	padding: 20px 50px;
	margin: 1em;
	height: 25vh;
}
.acreditar-logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%;
}

.introduction {
	margin: 1em;
	font-weight: 10;
	background: #ffffff;
	float: center;
	padding: 1em;
	display: flex;
	color: #707070;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 25px;
	/*box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);*/
}
.introduction h1 {
	margin: 20px 30px;
}
.introduction h3 {
	margin: 20px 30px;
}

.center-dots {
	width: 20%;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 40%;
	margin-right: 40%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-content: space-around;
}
.dot {
	height: 1vw;
	width: 1vw;
	margin: auto;
	background-color: #bbb;
	border-radius: 50%;
	align-items: center;
	background: #d80415;
}

.center-dots-social {
	width: 70%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 15%;
	margin-right: 15%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-content: space-around;
}

.social-dot {
	height: 10vh;
	width: 10vh;
	margin: auto;
	border-radius: 50%;
	align-items: center;
	background: #ff9100;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: none;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
	color: #8d000c;
}

.social-dot:active {
	background-color: #8d000c;
	color: #ff9100;
}
.social-dot .fa {
	font-size: 4vw;
	margin: auto auto;
}

.progresso {
	width: 80%;
	margin: 1em auto;
	display: grid;
	grid-template-columns: 6fr 1fr;
	gap: 1em;
}

.caixa {
	width: 100%;
	height: 10vh;
	border-radius: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 10fr 1fr;
	align-items: center;
	gap: 1em;
	padding: 0 2em;
}

.caixa-valor {
	width: 100%;
	height: 10vh;
	border-radius: 25px;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
}

.caixa-dia {
	background: #ff9100;
	color: #8d000c;
}

.caixa-total {
	background: #8d000c;
	color: #ff9100;
}

.linha-vazia {
	background: #000000;
}

.linha {
	margin: 0;
	height: 4vh;
	border-radius: 25px;
}

.grid-item {
	min-width: 0;
	min-height: 0;
	align-self: center;
	justify-self: center;
}

.wrap {
	color: #8d000c;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

@media (max-width: 700px) {
	.body-content {
		width: 100%;
		grid-template-columns: 1fr;
	}
	.giant-font {
		font-size: 30px;
		font-weight: 50;
	}

	.medium-font {
		font-size: 15px;
		font-weight: 50;
	}

	.simple-margin {
		margin: 0 25px;
	}
	.btn {
		background: #ff9100;
		color: #8d000c;
		width: 30vw;
		height: 5vh;
		border: none;
		border-radius: 25px;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
	}

	h3 {
		font-size: 15px;
	}
	h4 {
		font-size: 20px;
	}

	.introduction h1 {
		margin: 10px 10px;
	}
	.introduction h3 {
		margin: 10px 10px;
	}

	.progresso {
		width: 90%;
		margin: 1em auto;
		display: grid;
		grid-template-columns: 6fr 1fr;
		gap: 1em;
	}

	.caixa {
		width: 100%;
		height: 8vh;
		border-radius: 25px;
		display: grid;
		grid-template-columns: 2fr 1fr 10fr 1fr;
		align-items: center;
		font-size: 10px;
	}
	.caixa-valor {
		width: 100%;
		height: 8vh;
		border-radius: 15px;
		display: grid;
		grid-template-rows: 1fr;
		align-items: center;
	}
	.linha-vazia {
		background: #000000;
	}

	.linha {
		margin: 0;
		height: 3vh;
		border-radius: 25px;
	}

	.center-dots-social {
		width: 90%;
		margin-top: 1em;
		margin-bottom: 1em;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr;
		align-content: space-around;
	}
	.social-dot {
		height: 15vw;
		width: 15vw;
		margin: auto;
		border-radius: 50%;
		align-items: center;
		background: #ff9100;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		border: none;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
		color: #8d000c;
	}
	.social-dot .fa {
		font-size: 10vw;
		margin: auto auto;
	}
	.acreditar-logo {
		background: #f6f6f6;
		border-radius: 25px;
		padding: 20px 50px;
		margin: 1em;
		height: 25vh;
	}
}
/*Inicio retirar*/
body {
	margin: 0;
	padding: 0;
	font-family: helvetica;
	height: 100vh;
	width: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.tbar {
	color: white;
	font-size: 12px;
	display: flex;
	padding: 5px;
	justify-content: flex-end;
	place-items: center;
}

.tbar > i,
.tbar > .time {
	padding-right: 8px;
}

.percent {
	padding-right: 5px;
}

.content {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pic {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-image: url(https://images.unsplash.com/photo-1486578077620-8a022ddd481f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: grey;
}

/* had to do this to center name "Andrew" */
.wrap {
	display: flex;
	font-weight: lighter;
	font-size: 18px;
}

.name {
	margin: 20px auto;
	font-family: "Heebo", sans-serif;
	letter-spacing: 1px;
}

#password {
	font-size: 17px;
	color: white;
	background-color: hsla(0, 0%, 45%, 90%);
	border: none;
	border-radius: 5px;
	height: 30px;
	padding: 0 5px;
}

#password::placeholder {
	font-size: 14px;
	vertical-align: center;
	color: rgb(170, 170, 170);
}

input:focus {
	outline: none;
}

.arrow {
	width: 25px;
	height: 25px;
	font-size: 14px;
	border-radius: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgb(170, 170, 170);
	border: none;
	color: rgba(0, 0, 0, 0.7);
	padding: 3px;
	margin-left: 5px;
	margin-right: -35px;
}

button:focus {
	outline: none;
}

button:active {
	border: none;
	background-color: hsla(0, 0%, 75%, 90%);
}

.x {
	width: 25px;
	height: 25px;
	background-color: hsla(0, 0%, 45%, 90%);
	color: white;
	font-size: 15px;
	border-radius: 100%;
	margin: 10px auto;
}

.toolbar {
	background-color: hsla(0, 0%, 85%, 90%);
	display: flex;
	flex-direction: row;
	padding: 10px 10px 0 10px;
	border-radius: 5px 5px 0 0;
}

.toolbar > div > i {
	font-size: 12px;
	padding: 1px;
}

/*Fim retirar*/
